<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.testinium.com">
                        Testinium
                    </a>
                </li>
                <li>
                    <a href="https://tr.linkedin.com/in/denizturkk">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://tr.linkedin.com/in/denizturkk">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="https://tr.linkedin.com/in/denizturkk" target="_blank">Deniz Türk</a> for a better scoring management.
        </div>
    </div>
</footer>
