<div _ngcontent-mrn-c8 class="main-content">
    <div _ngcontent-mrn-c8 class="container-fluid">
      
      
      <div *ngIf="dataLoaded==true" class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category"></p>
                <h6 class="card-title" *ngIf="dataLoaded">{{project.projectName}}</h6>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> {{project.leadByEMail}}
                </div>
            </div>
        </div>
    </div>
      <div _ngcontent-mrn-c8 class="row">
          <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Users In Project</h4>
            <p class="card-category">Here is a subtitle for this table</p>
          </div>
          <div class="card-content table-responsive table-full-width">
            <table class="table">
              <thead class="text-danger">
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Job Title</th>
                <th>Started At</th>
                <th>E-Mail</th>
                <th>Assigned By</th>
              </thead>
              <tbody>
                <tr *ngFor="let userOfProject of userOfProjects">
                  <th>{{userOfProject.id}}</th>
                  <th>{{userOfProject.firstName}}</th>
                  <th>{{userOfProject.lastName}}</th>
                  <th>{{userOfProject.departmentName}}</th>
                  <th>{{userOfProject.jobTitleName}}</th>
                  <th>{{userOfProject.startedAt}}</th>
                  <td class="text-info">{{userOfProject.email}}</td>
                  <td class="text-danger">{{userOfProject.assignedByEmail}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  