
<div _ngcontent-mrn-c8 class="main-content">
    <div _ngcontent-mrn-c8 class="container-fluid">
      <div _ngcontent-mrn-c8 class="row">
        
          <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Customers</h4>
            <p class="card-category">Here is a subtitle for this table</p>
          </div>

          <div class="card-content table-responsive table-full-width">
            <table class="table">          
                <thead class="text-danger">
                <th>Id</th>
                <th>Company Name</th>
                <th>Status</th>
                <th>Added At</th>
                <th>Is Deleted</th>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customers">
                  <th>{{customer.id}}</th>
                  <th>{{customer.companyName}}</th>
                  <th>{{customer.status}}</th>
                  <th>{{customer.addedAt}}</th>
                  <th>{{customer.isDeleted}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  