<div _ngcontent-mrn-c8 class="main-content">
  <div _ngcontent-mrn-c8 class="container-fluid">
    <div _ngcontent-mrn-c8 class="row">
      
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">add</i>
                </div>

                <p class="card-category"></p>
                <h3 class="card-title"> <button mat-raised-button class="btn btn-success" routerLink="/users/add">Create New User</button></h3>
                
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">info</i> use this for create a new user
                </div>
            </div>
        </div>
      </div>  


      <div class="card">
        <div class="card-header card-header-warning">
          <h4 class="card-title">Users</h4>
          <p class="card-category">Here is a subtitle for this table</p>
        </div>
        <div class="card-content table-responsive table-full-width">
          <table class="table">
            <thead class="text-danger">
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Department</th>
              <th>Job Title</th>
              <th>E-Mail</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <th>{{user.id}}</th>
                <th>{{user.firstName}}</th>
                <th>{{user.lastName}}</th>
                <th>{{user.departmentName}}</th>
                <th>{{user.jobTitleName}}</th>
                <td class="text-info">{{user.email}}</td>
                <td>
                  <button routerLink="/users/{{user.id}}/projects" type="button" class="btn btn-primary btn-sm"><i class="fa fa-product-hunt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>
